@import "../../../styles/styles.scss";

.project{
  position: relative;
  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    @include mobile {
      padding-top: 8px;
    }
    .progressBar {
      height: 10px;
      background-color: white;
      border-radius: 8px;
    }
  }
  section{
    display: flex;
    width: 100vw;
    padding: 24px;
    .container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      @include mobile {
        padding-top: 140px; /// Recalculate later.
        height: unset;
        overflow: unset;
      }
  
      .wrapper {
        margin: auto;
        gap: 50px;
        max-width: 1366px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile {
          margin: auto;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .imageContainer {
          display: block;
          margin: 0;
          padding: 0;
          height: 50%; 
          border-radius: 2cap;
          z-index: 1;
          @include mobile {
            margin-bottom: 49px;
            height: fit-content;
            border-radius: 2cap;
          }
          
          img {
            max-width: 800px;
            height: 100%;
            object-fit: contain;
            margin: 0;
            padding: 0;

            @include mobile{
              max-width: 480px;
              height: 300px;
              object-fit: contain;
            }
          }
        }
  
        .textContainer {
          display: flex;
          flex-direction: column;
          gap: 30px;
  
          @include mobile {
            gap: 16px;
            max-width: 480px;
          }
          h2 {
            font-size: 72px;
            @include mobile{
              font-size: 32px;
            }
          }
  
          p {
            color: rgb(164, 164, 164);
            font-size: 20px;
            @include mobile{
              font-size: 16px;
            }
          }
  
          button {
            background-color: orange;
            border: none;
            border-radius: 10px;
            padding: 10px;
            width: 200px;
            cursor: pointer;
          }
        }
      }
    }
  }

}
