* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fff;
    font-family: sans-serif;
    min-width: 400px;
}

html.dark {
    background-color: #1A1B1E;
    color: #fff;
}


body .container {
    margin: auto;
    padding: 56px 0px 16px 0px;
    width: 100%;
    max-width: 960px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}



nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.dark .nav-links a {
    color: #fff;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;

}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
}


.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}


@media screen and (min-width: 636px) {
    .nav-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 8px 16px 8px 16px;
        margin: 0px 32px 0px 0px;
    }

    .hamburger {
        display: none;
    }
}



.skill {
    color: green;
    font-weight: bold;
    text-transform: capitalize;
}

.dark .skill {
    color: orangered;
}

.Card {
    background: #000;
    display: flex;
}

.Card .ParagraphStyle {
    text-overflow: ellipsis;
    overflow: hidden;
}

.Card:hover,
.Card:focus {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.ChatBoxHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

}


@media (max-width: 767px) {
    .Card .ParagraphStyle {
        white-space: nowrap;
    }

    .ChatBoxHeader {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}