
@charset "UTF-8";
 
@import'./fonts.scss';
@import'./variables.scss';
 

// Define common styles for all elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Define styles for html element
html {
  background: linear-gradient(180deg, #111132, #0c0c1d);
  font-family: sans-serif;
  min-width: 400px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;


}
section {
  height: 100vh;
  scroll-snap-align: center;
  overflow: hidden;

}

// Define styles for body and .container
body {
  font-family: Poppins;
  color: #fff

}

html,body {
  max-width: 100vw;
  min-width: 480px;
  overflow-x: clip;

}

// Define styles for h1
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


// Define styles for skills
.skill {
  color: green;
  font-weight: bold;
  text-transform: capitalize;
}

// Define styles for cards
.Card {
  background: #000;
  display: flex;

  .ParagraphStyle {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &:hover,
  &:focus {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  // Define styles for responsive cards
  @media (max-width: 767px) {
    .ParagraphStyle {
      white-space: nowrap;
    }
  }
}
// Define styles for ChatBoxHeader
.ChatBoxHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  // Define styles for responsive ChatBoxHeader
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;

  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
