---
export const prerender = true;
import Resume from "@components/Sections/General/Resume/Resume";
import Greeting from "@components/Sections/General/Greeting/Greeting";
import FadeIn from "@components/FadeIn/FadeIn";

const cvUrl = "";
---

<section>
  <div class="wrap-bg">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <div class="stars"></div>
  <div class="container">
    <div class="genreral-infor">
      <FadeIn client:load x={-30}>
        <Greeting client:load />
      </FadeIn>
      <FadeIn client:load x={30}>
        <div class="wrap">
          <div class="shape-img"></div>
        </div>
      </FadeIn>
    </div>

    <FadeIn client:load x={-10}>
      <button id="btn-download-cv">Download my resume</button>
    </FadeIn>

    <FadeIn client:load x={0} delay={0.6} y={30}>
      <Resume />
    </FadeIn>
  </div>

  <script>
    function downloadCVFile() {
      const fileUrl: string =
        "https://drive.google.com/uc?export=download&id=1UOJ_crnosfurrS3ulYCLg_zL7zbBGwnt";

      const link: HTMLAnchorElement = document.createElement("a");
      link.href = fileUrl;
      link.download = "PHAM-DUC-HOANG.pdf";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }

    let mybutton = document.getElementById(
      "btn-download-cv",
    ) as HTMLButtonElement;

    mybutton.addEventListener("click", downloadCV);

    function downloadCV(event) {
      event.preventDefault();
      downloadCVFile();
    }
  </script>
</section>

<style lang="scss">
  .stars {
    background-image: url("../../../assets/stars.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -99;
  }
  .container {
    margin: auto;
    width: 100%;
    height: 100vh;
    max-width: 960px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
  }
  button {
    max-width: fit-content;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-bottom: 32px;
    background-color: #d6861e;
    color: #551b8c;
    transition: all 0.3s ease;

    cursor: pointer;
  }

  button:hover {
    box-shadow: 10px 10px 100px 100px rgba(41, 37, 37, 0.9);
    transform: translateY(-2px);
  }
  .genreral-infor {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 48px;
    justify-content: space-between;
    align-items: center;
  }
  #btn-download-cv {
    font-size: 1rem;
    font-family: inherit;
    color: #0a0a2a;
    font-weight: 400;
    border-radius: 8px;
  }

  @media screen and (max-width: 600px) {
    .genreral-infor {
      flex-direction: column;
    }

    .my-image {
      margin: 32px 8px;
    }
    #btn-download-cv {
      margin-top: 64px;
      margin-bottom: 32px;
    }
  }
  .circular-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden; /* Ensures the image doesn't overflow outside the circular area */
  }

  .wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
  }

  .shape {
    width: 420px;
    height: 420px;
    background: linear-gradient(
      64.00916346799386deg,
      rgba(243, 72, 104, 1) 23.44140625%,
      rgba(242, 71, 104, 1) 23.44140625%,
      rgba(158, 0, 236, 1) 79.84765625%
    );

    animation: wave 4s ease-in-out infinite;
  }

  .shape-img {
    width: 420px;
    height: 420px;
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihYqr_RUolaSCP6AJ2CLWdIyrc_IuQ0ZuoACBKfR72zs7fzBIyMaHAaA2kUmOwxnMfM4SkKf0aSwvs88xz5vJqPXPWq5Zluj0uc=s2560");
    animation: avatar-wave 4s ease-in-out infinite;
    background-position: 30px 0;
  }

  .wrap-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -999;
  }

  .wrap-bg .shape {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -30px;
    right: 0;
    opacity: 0.1;
    z-index: 1;
    &:nth-of-type(2) {
      width: 800px;
      height: 800px;
      position: absolute;
      top: -200px;
      left: -400px;
      opacity: 0.1;
      z-index: -1;
    }
  }

  @keyframes wave {
    0%,
    100% {
      border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
    }
    50% {
      border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
    }
  }
  @keyframes avatar-wave {
    0%,
    100% {
      box-shadow:
        0 0 10px rgba(255, 0, 0, 0.5),
        0 0 20px rgba(255, 255, 0, 0.5),
        0 0 15px rgba(0, 255, 0, 0.5),
        0 0 10px rgba(0, 0, 255, 0.5);
      border-radius: 80% 30% 72% 28% / 27% 61% 39% 73%;
    }
    50% {
      border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
      box-shadow:
        0 0 10px rgba(255, 0, 0, 0.5),
        0 0 20px rgba(255, 255, 0, 0.5),
        0 0 15px rgba(0, 255, 0, 0.5),
        0 0 10px rgba(0, 0, 255, 0.5);
    }
  }
</style>
