---

---

<div transition:animate="fade" class="nav-links">
  <!-- data-astro-reload  use for full page reload-->
  <a href="/" data-astro-reload>About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags">Tags</a>
</div>
