@import "../../../../styles/styles.scss";

.greeting {
    min-width: 400px;
    margin-bottom: 32px;
    p {
        font-size: 2rem;
        b{
            font-size: 2rem;
            font-weight: bold;
        }
    }
    i{
        font-size: 1rem;
        font-weight: bold;
    }

    @include mobile{
        p {
            font-size: 1.25rem;
            b{
                font-size: 1rem;
            }
        }
        margin-bottom: 0px;
    }
}
