---
import FadeScale from "./FadeScale";
---

<FadeScale client:load>
  <section>
    <div class="container">
      <div class="slide">
        <div
          class="item"
          style="background-image: url(https://lh3.googleusercontent.com/drive-viewer/AKGpihZOwggT5rSok0LYrs5bdyiIaLKtWs4DIZRtnp9MKBuAmYd3QILzyvlDMP3oRBRDa--tY7QqSuuqdZ1KB9DVOtrA0aZEK295O-Q=s1600-rw-v1);"
        >
          <div class="content">
            <div class="name">Graduation Day</div>
            <div class="desc">
              The culmination of four years of university with an excellent
              degree in hand on the stage of honor is a memory I'll surely never
              forget.
            </div>
          </div>
        </div>
        <div
          class="item"
          style="background-image: url(https://lh3.googleusercontent.com/drive-viewer/AKGpihaY_Ey85GY-TeBP7OkGVB2rjUUshol9WCec_9gJFFQm6pwK-NjBMuZDChr-Nv9fh2hIsagLxtChNDmRnyZVry1-07IVRXNy2Q=s1600-rw-v1);"
        >
          <div class="content">
            <div class="name">Mother</div>
            <div class="desc">
              Inspired by mother's encouragement to choose UIT as the place to
              pursue dreams.
            </div>
          </div>
        </div>
        <div
          class="item"
          style="background-image: url(https://lh3.googleusercontent.com/drive-viewer/AKGpihZ5uSv9Y3O2ik5Uky3FzSSJ_2MpZ8oqsxQEj7V1c6uYb8LPedzMZUEu-5WGV_SL89uHWcCCqC-gfn-tE4qehREVLhlYdrVrVG8=s1600-rw-v1);"
        >
          <div class="content">
            <div class="name">Final Day in the Army</div>
            <div class="desc">
              Three years in the army instilled consistency in me, shaping my
              pursuit of dreams—a truly memorable experience.
            </div>
          </div>
        </div>
        <div
          class="item"
          style="background-image: url(https://lh3.googleusercontent.com/drive-viewer/AKGpihZH89mNUy6992rJxjqAQyHbzQ6-de6zdPPS4WDet8M2sOTZB2nDNmyuLaTo5j8OUwF_b3xB72OAi_uiVGpZ7DPXdjLYzLHad70=s1600-rw-v1);"
        >
          <div class="content">
            <div class="name">Student register.</div>
            <div class="desc">
              With immense effort, I successfully passed a test to gain entry
              into UIT University.
            </div>
          </div>
        </div>
        <div
          class="item"
          style="background-image: url(https://lh3.googleusercontent.com/drive-viewer/AKGpihb4OUsAGSl86vux_V_ydRXPHvoNzXokWnuyCVHFHcZHccUR1NfCBeFYlJvUFY_dP__q_DbofEHISPLDk8Z6aKn9ri9MsEYKrK8=s1600-rw-v1);"
        >
          <div class="content">
            <div class="name">Student's Life</div>
            <div class="desc">
              The memory of my first year as a student at university.
            </div>
          </div>
        </div>
        <div
          class="item"
          style="background-image: url(https://lh3.googleusercontent.com/drive-viewer/AKGpihZIDJvRbVB1yV9SDJbE-WHvSMMFRrBJILoWmuMXBkNSOTlmgfve769dgmg2-2EHAJFSi8CphtaXP4UZ_vXINsf92_D-4EYFgWU=s1600-rw-v1);"
        >
          <div class="content">
            <div class="name">First Job</div>
            <div class="desc">
              Securing my first job while still a third-year student.
            </div>
          </div>
        </div>
      </div>
      <FadeScale />

      <div class="btns">
        <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
  </section>
</FadeScale>

<style>
  .container {
    height: 80vh;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 5px 20px 5px yellow;
  }

  .container .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: center;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
  }

  .container .item:nth-child(1),
  .container .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
  }

  .container .item:nth-child(3) {
    left: 60%;
  }

  .container .item:nth-child(4) {
    left: calc(60% + 220px);
  }

  .container .item:nth-child(5) {
    left: calc(60% + 440px);
  }

  .container .item:nth-child(n + 6) {
    left: calc(60% + 660px);
  }

  .container .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: white;
    transform: translate(0, -50%);
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    display: none;
    border-radius: 8px;
    line-height: 1.5; Line spacing
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Text shadow */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px 20px; /* Padding around text */
    
  }

  .container .item:nth-child(2) .content {
    display: block;
  }

  @media screen  and (max-width: 600px) {
    .container .item:nth-child(2) .content {
    display: none;
  }
  }

  .container .content .name {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: anime 1s ease-in-out 1 forwards;
  }

  .container .content .desc {
    opacity: 0;
    animation: anime 1s ease-in-out 0.3s 1 forwards;
  }

  .container .content button {
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0;
    animation: anime 1s ease-in-out 0.6s 1 forwards;
    margin-top: 5px;
  }

  @keyframes anime {
    0% {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(30px);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0px);
      filter: blur(0px);
    }
  }

  .btns {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;
  }

  .btns button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.2s;
  }

  .btns button:hover {
    background: #ababab;
  }


</style>

<script>
  let prev = document.querySelector(".prev");
  let next = document.querySelector(".next");

  next.addEventListener("click", () => {
    let items = document.querySelectorAll(".item");
    let slider = document.querySelector(".slide");
    slider.appendChild(items[0]);
  });
  prev.addEventListener("click", () => {
    let items = document.querySelectorAll(".item");
    let slider = document.querySelector(".slide");
    slider.prepend(items[items.length - 1]);
  });
</script>
